.btn {
    @include button;

    &::after{
        content: "";
        display: inline-block;
        height: 1px;
        width: 14px;
        background: $primary-color;
        position: relative;
        top: -4px;
        margin-left: 16px;
    }

    &:hover {
        background: darken($primary-color, 5%);
        color: white;
        box-shadow: none;

        &::after{
            background: white;
        }
    } 

    &:focus {
        background: darken($primary-color, 5%);
        color: white;
        box-shadow: none;

        &::after{
            background: white;
        }
    } 

    &-down-arrow{
        &:after{
            height: 8px;
            width: 12px;
            background: url(../images/btn-down-arrow.svg)no-repeat center;
            top: -1px;
        }

        &:hover{
            &:after{
                background: url(../images/btn-down-arrow-white.svg)no-repeat center;
            }
        }
    }

}




input[type="submit"] {  
    @extend .btn;

    &:hover {
        background-color: $primary-color;
    }
}


%input-styles {
    @include input;
}

%input-styles--focus {
    @include input-focus;
}

@mixin input-styles($styles, $focus_styles) {
    $types: 'email', 'number', 'select', 'password', 'search', 'tel',
        'text', 'url', 'color', 'date', 'datetime',
        'datetime-local', 'month', 'time', 'week';

    @each $type in $types {
        input[type="#{$type}"] {
            @extend #{$styles};

            &:focus {
                @extend #{$focus_styles};
                border: 1px solid $primarty-color-dark !important;
            }
        }
    }

    select {
        @extend #{$styles};
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-image: url(../images/select-caret-down.svg);
        background-repeat: no-repeat;
        background-position: right 18px center;

        &:focus {
            @extend #{$focus_styles};
            border: 1px solid $primarty-color-dark !important;
        }
    }

    textarea {
        @extend #{$styles};
        height: 192px;
        resize: none;
        padding: 16px 18px 18px;
        border-radius: 0px;

        &:focus {
            @extend #{$focus_styles};
            border-color: $primarty-color-dark;
        }
    }

}

@include input-styles('%input-styles', '%input-styles--focus');



// ===================== check and radio

@mixin checbox {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: -9999px !important;

    &+label {
        padding: 0 0 0 20px !important;
        padding-left: 30px !important;
        color: $primarty-color-dark !important;
        display: inline-block !important;
        max-width: inherit !important;
        margin: 0px 10px 0 0 !important;
        font-size: 18px !important;
        font-weight: 400 !important;
        line-height: 22px !important;
        position: relative !important;
        letter-spacing: 0 !important;
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
    }

    &+label:before {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        border: 1px solid $input-bg;
        background: $input-bg;
        left: 0;
        top: 0px;
        border-radius: 0;
    }

    &+label:after {
        content: '';
        background: none !important;
        position: absolute;
        left: 8px;
        top: 4px;
        width: 5px;
        height: 9px;
        border: solid $primary-color;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(50deg);
        -ms-transform: rotate(50deg);
        transform: rotate(50deg);
        display: none;
    }

    &:checked+label {
        color: $primary-color !important;
        font-weight: 400 !important;
        user-select: none;
        -webkit-user-select: none;
    }
    
    &:checked+label:before {
       border-color: $primary-color;
    }

    &:checked+label:after {
        display: block;
    }

}
@mixin radio {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: -9999px !important;

    &+label {
        padding: 0 0 0 35px !important;
        color: $primarty-color-dark !important;
        display: inline-block !important;
        max-width: inherit !important;
        margin: 0px 10px 0 0 !important;
        font-size: 18px !important;
        font-weight: 400 !important;
        line-height: 22px !important;
        position: relative !important;
        letter-spacing: 0 !important;        
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
    }

    &+label:before {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        border: 1px solid $input-bg;
        background: $input-bg;
        left: 0;
        top: 0px;
        border-radius: 55%;
    }

    &+label:after {
        content: '';
        position: absolute;
        width: 7.5px;
        height: 7.5px;
        background: $primary-color !important;
        left: 6.25px;
        top: 6.25px;
        border-radius: 55%;
        display: none;
    }

    &:checked+label {
        color: $primary-color !important;
        font-weight: 400 !important;
        user-select: none;
    }

    &:checked+label:before {
        border-color: $primary-color !important;
    }

    &:checked+label:after {
        display: block;
    }

}


input[type=checkbox] {
    @include checbox;
}

input[type=radio] {
    @include radio;
}




.input-wrapper{
    margin-bottom: 36px;

    @include mobile-lg{
        margin-bottom: 20px;
    }
}


